@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: diablo;
    src: url(fontes/diablo.ttf) format('opentype');
}

* {
    margin: 0px;
}

:root {
    --cor0:#ec8282;
    --cor1:#ce3a3a;
    --cor2:#b36500;
    --cor3:#830c0c;
    --cor4:rgb(85, 3, 3);
    --cor5:#3b0000;
    --fonte0: arial, helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'diablo', serif;
}

body {
    color: var(--cor0);
    font-family: var(--fonte0);
    background-color: var(--cor1);
}

header {
    margin: auto;
    text-align: center;
    background-image: linear-gradient(180deg, var(--cor3), var(--cor5));
    height: 160px;
    padding-top: 40px;
}

header > p {
    color: white;
}

nav {
    background-color: var(--cor5);
    padding: 3px 3px 3px 10px;
    height: 36px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.356);

}

nav > a {
    text-decoration: none;
    color: white;
    padding: 12px;
    font-weight: 700;
    transition-duration: 0.3s;
}

nav > a:hover {
    border-radius: 6px;
    background-color: var(--cor3);
}

h1 {
    font-family: var(--fonte1);
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 2px var(--cor5);
}

h2 {
    font-family: var(--fonte2);
    font-size: 2em;
    color: var(--cor4);
}

h3 {
    font-family: var(--fonte2);
    font-size: 1.5em;
    color: white;
    background-image: linear-gradient(90deg, var(--cor2), transparent);
}

main {
    min-width: 400px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 10px;
}


article {
    min-width: 350px;
    max-width: 750px;
    margin: auto;
    color: black;
}

img {
    width: 100%;
    margin: auto;
}

.top {
    border-radius: 8px 8px 0px 0px;
    background-color: var(--cor3);
    padding: 3px 3px 3px 10px;
    margin: auto;
    min-width: 350px;
    max-width: 750px;
    color: white;
    font-weight: 700;
}

div.top > h3 {
    background-image: none;
}

.bot {
    border-radius: 0px 0px 8px 8px;
    background-color: var(--cor1);
    padding: 10px;
    margin: auto;
    min-width: 350px;
    max-width: 750px;
    color: black;
}

main p {
    text-align: justify;
    text-indent: 2em;
    margin: 10px 0px;
    line-height: 1.5em;
}

main strong {
    color: var(--cor4);
}

main a {
    font-weight: 700;
    color: var(--cor5);
    padding: 0px;
    text-decoration: none;
    background-color: var(--cor0);
}

main a:hover {
    text-decoration: underline;
}

main img {
    margin-bottom: 16px;
}

div.video {
    position: relative;
    background-color: var(--cor2);
    margin-bottom: 30px;
    padding: 20px 20px 335px 20px;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

ul {
    list-style-type: disc;
    columns: 2;
    list-style-position: inside;
}

footer {
    text-align: center;
    margin: auto;
    color: white;
    background-color: var(--cor5);
    padding: 7px;
}